In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as np
%matplotlib inline
import seaborn as sb
import missingno as msn
sb.set()

In [2]:
train = pd.read_csv('C:/Users/Jitender kumar/Desktop/Data/train.csv')

train.head()

,WD_WS,VISIBILITY,WEATHER,LOWEST_CLOUD,LOW_CLOUD,MID_CLOUD,CURRENT_TEMP,DEW_POINT
0,310/04,1000,BR,0,NSC,0,16,13
1,280/05,1000,FU,0,NSC,0,18,13
2,290/04,1100,FU,0,NSC,0,20,13
3,290/04,1100,FU,0,NSC,0,20,13
4,290/04,1200,FU,0,NSC,0,21,13

In [3]:
train.isnull().sum()

WD_WS            0
VISIBILITY       1
WEATHER         95
LOWEST_CLOUD     1
LOW_CLOUD        0
MID_CLOUD        0
CURRENT_TEMP     0
DEW_POINT        0
dtype: int64

In [4]:
train.VISIBILITY.value_counts()

2500           1131
1500           1109
1000            980
1200            921
2200            902
3500            822
800             743
3000            699
1800            523
2000            482
600             438
4000            384
500             373
2100            345
1600            325
700             310
1100            280
1300            265
900             235
50              234
400             227
1400            209
2800            204
300             200
3200            166
1700            165
200             127
100             120
5000            101
350              74
               ...
2300             60
4500             53
250              37
2600             20
6000             18
0                18
2400             17
2700             17
3100             16
3800             15
1900             15
24               15
 BELOW 0050      10
ABV 2000         10
3300              7
1050              6
750               5
650               5
100/03            5
3400              3
2900              2
4200              1
1150              1
550               1
75                1
450               1
BR                1
10                1
31009             1
8                 1
Name: VISIBILITY, Length: 61, dtype: int64

In [5]:
train = train.replace(to_replace = "BELOW 0050", value =50)
train = train.replace(to_replace = "500M", value =500)
train = train.replace(to_replace = "BLW 50M", value =50)
train = train.replace(to_replace = "700M", value =700)
train = train.replace(to_replace = "2200M", value =2200)
train = train.replace(to_replace = "900M", value =900)
train = train.replace(to_replace = "BELW 0050", value =50)
train = train.replace(to_replace = "2800M", value =2800)
train = train.replace(to_replace = "0500M", value =500)
train = train.replace(to_replace = "2000M", value =2000)
train = train.replace(to_replace = "BLW0050", value =50)
train = train.replace(to_replace = "800M", value =800)
train = train.replace(to_replace = "0700M", value =700)
train = train.replace(to_replace = "400M", value =400)
train = train.replace(to_replace = "0050M", value =50)
train = train.replace(to_replace = "2200-", value =2200)
train = train.replace(to_replace = "3100M", value =3100)
train = train.replace(to_replace = "  0400                        0300", value =400)
train = train.replace(to_replace = "2500M", value =2500)
train = train.replace(to_replace = "3000M", value =3000)
train = train.replace(to_replace = "1200M", value =1200)
train = train.replace(to_replace = "1500M", value =1500)
train = train.replace(to_replace = "3200M", value =3200)
train = train.replace(to_replace = "BLW 0050M", value =50)
train = train.replace(to_replace = "3200M", value =3200)
train = train.replace(to_replace = "BELOW0050", value =50)
train = train.replace(to_replace = "BLW50", value =50)
train = train.replace(to_replace = "600M", value =600)
#train = train.replace(to_replace = "", value =)

train.VISIBILITY.value_counts()

2500           1131
1500           1109
1000            980
1200            921
2200            902
3500            822
800             743
3000            699
1800            523
2000            482
600             438
4000            384
500             373
2100            345
1600            325
700             310
1100            280
1300            265
900             235
50              234
400             227
1400            209
2800            204
300             200
3200            166
1700            165
200             127
100             120
5000            101
350              74
               ...
2300             60
4500             53
250              37
2600             20
6000             18
0                18
2400             17
2700             17
3100             16
3800             15
1900             15
24               15
 BELOW 0050      10
ABV 2000         10
3300              7
1050              6
750               5
650               5
100/03            5
3400              3
2900              2
4200              1
1150              1
550               1
75                1
450               1
BR                1
10                1
31009             1
8                 1
Name: VISIBILITY, Length: 61, dtype: int64

In [6]:
train.isnull().sum()

WD_WS            0
VISIBILITY       1
WEATHER         95
LOWEST_CLOUD     1
LOW_CLOUD        0
MID_CLOUD        0
CURRENT_TEMP     0
DEW_POINT        0
dtype: int64

In [7]:
train = train.replace(to_replace = "`BR", value ='BR')
train = train.replace(to_replace = "`FU", value ='FU')
train = train.replace(to_replace = "fu", value ='FU')
train = train.replace(to_replace = " BR", value ='BR')
train = train.replace(to_replace = " HZ", value ='HZ')
train = train.replace(to_replace = "fg", value ='FG')
train = train.replace(to_replace = " TS", value ='TS')
train = train.replace(to_replace = "br", value ='BR')
train = train.replace(to_replace = "BR`", value ='BR')
train = train.replace(to_replace = "mifg", value ='MIFG')
train = train.replace(to_replace = "NIFG", value ='MIFG')
train = train.replace(to_replace = "MIFG=", value ='MIFG')
train = train.replace(to_replace = "dZ", value ='DZ')
train = train.replace(to_replace = "hz", value ='HZ')
train = train.replace(to_replace = " RA", value ='RA')
train = train.replace(to_replace = " FBL RA", value ='FBL RA')
train = train.replace(to_replace = " FBL DZ", value ='FBL DZ')
train = train.replace(to_replace = "FY", value ='FU')
train = train.replace(to_replace = "HZ ", value ='HZ')
train = train.replace(to_replace = "BR ", value ='BR')
train = train.replace(to_replace = "FU ", value ='FU')
train = train.replace(to_replace = "HZ  ", value ='HZ')
train = train.replace(to_replace = "FU  ", value ='FU')
train = train.replace(to_replace = "BR  ", value ='BR')

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13524 entries, 0 to 13523
Data columns (total 8 columns):
WD_WS           13524 non-null object
VISIBILITY      13523 non-null object
WEATHER         13429 non-null object
LOWEST_CLOUD    13523 non-null object
LOW_CLOUD       13524 non-null object
MID_CLOUD       13524 non-null object
CURRENT_TEMP    13524 non-null int64
DEW_POINT       13524 non-null int64
dtypes: int64(2), object(6)
memory usage: 845.3+ KB

In [9]:
for i in range(len(train['WD_WS'])):
    if '/' in train['WD_WS'][i]:
        speed = train['WD_WS'][i].split('/')
        train['WD_WS'][i] = int(speed[-1])

c:\users\jitender kumar\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [10]:
train.to_csv("C:\\Users\\Jitender kumar\\Desktop\\train.csv", index=None)