In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as np
%matplotlib inline
import seaborn as sb
import missingno as msn
sb.set()

In [2]:
train = pd.read_csv('C:/Users/Jitender kumar/Desktop/Data/train.csv')

train.head()

,WD_WS,VISIBILITY,WEATHER,LOWEST_CLOUD,LOW_CLOUD,MID_CLOUD,CURRENT_TEMP,DEW_POINT,RH,WS
0,4,1000,BR,0,NSC,0,16,13,82.385952,2.056
1,5,1000,FU,0,NSC,0,18,13,72.582142,2.570
2,4,1100,FU,0,NSC,0,20,13,64.068289,2.056
3,4,1100,FU,0,NSC,0,20,13,64.068289,2.056
4,4,1200,FU,0,NSC,0,21,13,60.236209,2.056

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13514 entries, 0 to 13513
Data columns (total 10 columns):
WD_WS           13514 non-null int64
VISIBILITY      13514 non-null int64
WEATHER         13514 non-null object
LOWEST_CLOUD    13514 non-null object
LOW_CLOUD       13514 non-null object
MID_CLOUD       13514 non-null object
CURRENT_TEMP    13514 non-null int64
DEW_POINT       13514 non-null int64
RH              13514 non-null float64
WS              13514 non-null float64
dtypes: float64(2), int64(4), object(4)
memory usage: 1.0+ MB

In [4]:
train.isnull().sum()

WD_WS           0
VISIBILITY      0
WEATHER         0
LOWEST_CLOUD    0
LOW_CLOUD       0
MID_CLOUD       0
CURRENT_TEMP    0
DEW_POINT       0
RH              0
WS              0
dtype: int64

In [6]:
weather_mapping = { "FU":0, "HZ": 1, "BR" : 2, "MIFG" : 3, "FG" : 4,
                  "TS" : 5, "FBL RA" : 6, "MOD RA" : 7, "FBL TSRA" : 8, "DZ" : 9,
                  "RA" : 10, "MOD TSRA" : 11, "FBL DZ" : 12, "FG /FBL RA" : 13, "FGF" : 14,
                  "FBLRA" : 15, "TSRA" : 16, "FBR" : 17, "DZ FG" : 17, "HBR" : 17}

train['WEATHER'] = train['WEATHER'].map(weather_mapping)

In [7]:
train.corr()

,WD_WS,VISIBILITY,WEATHER,CURRENT_TEMP,DEW_POINT,RH,WS
WD_WS,1.000000,0.317981,-0.152141,0.333171,-0.123436,-0.389281,1.000000
VISIBILITY,0.317981,1.000000,-0.473626,0.548794,-0.242300,-0.717190,0.317981
WEATHER,-0.152141,-0.473626,1.000000,-0.521023,0.115125,0.681503,-0.152141
CURRENT_TEMP,0.333171,0.548794,-0.521023,1.000000,0.232690,-0.767799,0.333171
DEW_POINT,-0.123436,-0.242300,0.115125,0.232690,1.000000,0.360318,-0.123436
RH,-0.389281,-0.717190,0.681503,-0.767799,0.360318,1.000000,-0.389281
WS,1.000000,0.317981,-0.152141,0.333171,-0.123436,-0.389281,1.000000

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13514 entries, 0 to 13513
Data columns (total 10 columns):
WD_WS           13514 non-null int64
VISIBILITY      13514 non-null int64
WEATHER         13514 non-null int64
LOWEST_CLOUD    13514 non-null object
LOW_CLOUD       13514 non-null object
MID_CLOUD       13514 non-null object
CURRENT_TEMP    13514 non-null int64
DEW_POINT       13514 non-null int64
RH              13514 non-null float64
WS              13514 non-null float64
dtypes: float64(2), int64(5), object(3)
memory usage: 1.0+ MB

In [9]:
train.to_csv("C:\\Users\\Jitender kumar\\Desktop\\train.csv", index=None)