In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as np
%matplotlib inline
import seaborn as sb
import missingno as msn
from sklearn.model_selection import train_test_split
sb.set()

train = pd.read_csv('C:/Users/Jitender kumar/Desktop/Data/train.csv')

train.head()

,WD_WS,VISIBILITY,WEATHER,LOWEST_CLOUD,LOW_CLOUD,MID_CLOUD,CURRENT_TEMP,DEW_POINT,RH,WS,FOG
0,4,1000,2,0,0,0,16,13,82.385952,2.056,4
1,5,1000,0,0,0,0,18,13,72.582142,2.570,4
2,4,1100,0,0,0,0,20,13,64.068289,2.056,4
3,4,1100,0,0,0,0,20,13,64.068289,2.056,4
4,4,1200,0,0,0,0,21,13,60.236209,2.056,4

In [2]:
train_data = train.drop('FOG', axis=1)
target = train['FOG']

train_data.shape, target.shape

((13511, 10), (13511,))

In [3]:
X_train, X_test, Y_train, Y_test = train_test_split(train_data, target, 
                                                    test_size=0.3, 
                                                    random_state=0)

In [4]:
X_train.shape, X_test.shape

((9457, 10), (4054, 10))

In [5]:
Y_train.shape, Y_test.shape

((9457,), (4054,))

In [7]:
X_train.to_csv("C:\\Users\\Jitender kumar\\Desktop\\X_train.csv", index=None)
X_test.to_csv("C:\\Users\\Jitender kumar\\Desktop\\X_test.csv", index=None)
Y_train.to_csv("C:\\Users\\Jitender kumar\\Desktop\\Y_train.csv", index=None)
Y_test.to_csv("C:\\Users\\Jitender kumar\\Desktop\\Y_test.csv", index=None)